@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap&family=Hind+Madurai:wght@400;500&display=swap');

$fontPrimary: 'Hind Madurai', sans-serif;
$fontSecondary: 'Lora', serif;
$fontSize: 1.4rem;

h1, h2 {
  font-family: $fontSecondary;
}
h1 {
  margin: 80px 0 10px;
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  margin: 50px 0 15px;
  font-size: 2.2rem;
}
h3 {
  margin: 5px 0 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  display: inline-block;
  color: $text;
  text-decoration: none;
  border-bottom: 1px solid $text;
  transition-property: all;
  @include easeSineOut;
  &:hover, &:focus {
    color: $blue;
    border-bottom-color: $blue;
    @include easeSineIn;
  }
}

sup {
  vertical-align: top;
}