.legend-section {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  p {
    margin-top: 0;
  }
  .legend {
    margin-bottom: 15px;
  }

  // Organizations main color
  .legend-color {
    li {
      position: relative;
      padding-left: 27px;
      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      &.legend-color-red::before { background: $red; }
      &.legend-color-orange::before { background: $orange; }
      &.legend-color-yellow::before { background: $yellow; }
      &.legend-color-pistachio::before { background: $pistachio; }
      &.legend-color-teal::before { background: $teal; }
      &.legend-color-blue::before { background: $blue; }
    }
  }

  // Organizations scale
  .legend-scale {
    li {
      margin-left: -1px;
      padding-left: 33px;
      background-repeat: no-repeat;
      background-size: 25px auto;
      background-position: 1px 5px;
      &.legend-national { background-image: url(../svg/node_national.svg); }
      &.legend-regional { background-image: url(../svg/node_regional.svg); }
      &.legend-global { background-image: url(../svg/node_global.svg); }
      &.legend-continental { background-image: url(../svg/node_continental.svg); }
      &.legend-bi-nations { 
        background-image: url(../svg/node_bi-national.svg);
        background-size: 28px auto;
        background-position: 0 7px;
      }
    }
  }

  // Organizations radius
  .legend-radius {
    circle {
      fill: $grey;
      fill-opacity: 0.4;
    }
    line {
      stroke: $grey;
      stroke-dasharray: 6 4;
    }
  }
}